<a href="https://colab.research.google.com/github/NikhithaAlla/NikhithaAlla/blob/main/assignment02/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

DATA_URL= "https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_02/survey.csv"

In [6]:
df = pd.read_csv(DATA_URL)

df.sample(3)

                    Timestamp  ...             12. Other courses taking this semester
5   2022/01/26 1:03:34 PM EST  ...  Introduction to Data Science | DATA 601;ENMG 6...
0   2022/01/25 5:14:48 PM EST  ...   Introduction to Data Science | DATA 601;SENG 601
23  2022/01/31 6:50:31 PM EST  ...  Intro to Data Analysis and Machine Learning | ...

[3 rows x 13 columns]

In [8]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]